{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Your shopping list</h1>
    <div>
        {% if shoppingitem_list|length > 0 %}
        <form method="post" action="{% url 'delete_all_shopping_items' %}">
            {% csrf_token %}
            <button class="button">Delete All</button>
        </form>
        {% endif %}
    </div>
    {% for item in shoppingitem_list %}
    <ul>
        <li>{{ item.food_item }}</li>
    </ul>
    {% endfor %}





</main>

{% endblock content %}