{% extends 'base.html' %}


{% block content %}
<main>
    <div>
        <a href="{% url 'meal_plans_edit' mealplan.pk %}">Edit</a>
        <a href="{% url 'meal_plans_delete' mealplan.pk %}">Delete</a>
    </div>
    <h2> Recipes For {{ mealplan.name }} {{ mealplan.date }}</h2>
    {% for recipe in mealplan.recipes.all %}
    <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
    </p>
    {% endfor %}

</main>
{% endblock content %}